<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Register | Gaspro</title>
        <link rel="icon" href="../images/Logo.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <style scoped lang="scss">
            :root {
                --main-color: #28A7E9;
            }
            .modal-content {
                color: #000;
                text-align: center;
            }
            .modal-header {
                /* background: var(--main-color); */
                color: #fff;
            }
            .modal-header h1 {
                width: 100%;
                font-size: 40px;
                font-weight: 400;
            }
            .modal-body {
                padding: 3rem
            }
            .modal-body .form-group {
                margin: 0 30px 30px;
            }
            .modal-body form input {
                border: 1px solid var(--main-color);
                border-radius: 3rem;
                width: 500px;
                height: 35px;
                padding: 10px;
            }
            .modal-body form input:hover,
            .modal-body form input:focus {
                /* border-radius: 3rem !important; */
                border:none
            }
            .modal-body form .btn {
                border-radius: 25px;
                width: 500px;
                height: 35px;
                padding: 10px;
                cursor: pointer;
            }
            .modal-body form .btn:hover {
                background: var(--main-color);
            }
            </style>
    </head>
    <body>
        <!--Start Header-->
        <div class="header">
            <div class="navbar">
                <div class="container">
                    <a href="/">
                        <img src="../images/Logo.png" />
                        <h2>Gas<span>Pro</span></h2>
                    </a>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="../About Gaspro/about.html">About gaspro</a></li>
                        <li><a href="../schedule service/service.html">schedule service</a></li>
                        <li><a href="../Our community/our.html">our community</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Header-->

        <!--Start Main page-->
        <div class="modal-content container text-center">
            <div class="title modal-header">
                <h1> Sign Up</h1>
            </div>
            <div class="modal-body">
                <form method="POST" name="myForm" onsubmit="return validateForm()">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name:" required><br>
                    </div>
                    <div class="form-group">
                        <input type="email"  name="email" class="form-control" placeholder="Email:" required><br>
                    </div>
                    <div class="form-group">
                        <input type="phone" name="phone" class="form-control" placeholder="Phone:" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" name="address" class="form-control" placeholder="Address:" required><br>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password:" required><br>
                    </div>
                    <input type="submit" name="" value="SUBMIT " id="sub" class="btn btn-outline-primary" >
                </form>
            </div>
        </div>
        <!--Start footer-->
            <footer>
                <table>
                    <tr>
                        <td><div class="head"><h1>Gas<span>pro</span></h1></div><p>www.Gaspro.com<br>Gaspro</p></td>
                        <td>
                            <h1 class="about"><a href="../About Gaspro/about.html">About Us</a></h1><p>We offer you a new point of view<br>the world from our prospective</p><br>
                        </td>
                        <!-- <td><h1 class="cf"><a href="../contact us/contactus.html">Contact Us</a></h1> <p>1-306-222-2323<br>Gaspro@gmail.com</p></td> -->
                        <td><h1 class="cf">Contact Us</h1> <p>1-306-222-2323<br>Gaspro@gmail.com</p></td>
                    </tr>
                </table>
            </footer>
        <!--End footer-->
        <script>
            // function alertFunc() {
            //     alert('Check Your Gmail For Sign In Id')
            // }
            function validateForm() {
                let fName = document.forms["myForm"]["name"].value;
                let firstChar = fName.charAt(0);
                let pass =document.forms["myForm"]["password"].value;
                // validate name
                if (!(/[a-zA-Z]/).test(firstChar)) {
                    alert("Wrong Input\nName must Start with Character");
                    return false;
                } 
                //validate password
                if (pass.toString().length < 8) {
                    alert("Wrong Input\nPassword Must Be At Least 8 Digits");
                    return false;
                }
                // else {
                //     alert('Success\nCheck Your Gmail For Sign In Id')
                // }
                
                
            }
        </script>
    </body>
<!--End Main page-->

</html>
