<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Worker</title>
    <style>
      :root {
--main-color: #28A7E9;  
}
      h2 {
        border-bottom: 4px solid var(--main-color);
        padding-bottom: 20px;
        text-align:center;
        margin:0 18% 40px;
      }
      .decorated {
          color: var(--main-color)
      }
      table thead {
          background-color: var(--main-color);
          color: #fff;
          font-size: 16px;
      }
      tbody {
        text-align: center;
      }
      .btn { 
          border: 2px solid var(--main-color) !important;
          border-radius:20px;
      }
      .btn:hover {
          background-color: var(--main-color) !important;
          color:#fff
      }
      /* form */
      form {
        text-align: center;
      }
      .form-group {
          margin: 0 30px 30px;
      }
      .form-check {
        display: inline;
        margin: 0 10px;
      }
      form input, 
      form textarea {
          border: 1px solid var(--main-color);
          border-radius: 1rem;
          padding: 10px;
      }
      textarea {width: 100%;}
      textarea:focus {border: none}
      /* form button {
          border-radius: 25px;
          width: 100px;
          height: 25px;
          cursor: pointer;
          background: var(--main-color);
      } */
    </style>
  </head>
<script type="text/javascript">
function goBack() {
window.history.back();
}
</script>

  <body>
    <div class="container-flauid p-5 text-center col-xs-12">
      <button class="btn btn-primary" onclick="goBack()" style="position: relative;">Go Back</button>

          <h2>worker <span class="decorated">Data</span> </h2>
          <table id='tbl_exporttable_to_xls' class="table text-center" style="width: 100%; margin-bottom: 30px;">
                <thead style="height: 38px; font-size: 18px;">
                    <tr>
                        <th scope="col">name </th>
                        <th scope="col">Date Of Hiring</th>
                        <th scope="col">Phone</th>
                        <th scope="col">availability</th>
                        <!-- <th scope="col"> </th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <th scope="row"><%=worker.name%></th>
                        <td><%=worker.DateOfHiring%></td>
                        <td><%=worker.phone%></td>
                        <td><%=worker.acc%></td>
                        <!-- <td>
                            <button class="btn">feedback</button>
                        </td> -->
                    </tr>
                </tbody>
          </table>


    </div>


  </body>
</html>
