:root {
--main-color: #28A7E9;  
}
table thead {
background-color: var(--main-color);
color: #fff;
font-size: 16px;
}
.btn { 
    border: 2px solid var(--main-color) !important;
    border-radius:20px;
}
.btn:hover {
    background-color: var(--main-color) !important;
    color:#fff
}
/* ////////////////////////////
/////Side Bar/////////// */
.sidebar-brand .close-sidebar,
.show-sidebar {
    color: #c7c7c7;
    cursor: pointer;
}
.show-sidebar {
    background: #666;
    margin-top: 10px;
}
.sidebar-brand .close-sidebar i,
.show-sidebar i {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    transition: all .2s ease-in;
}
.sidebar-brand .close-sidebar:hover i,
.show-sidebar:hover i {
    color: #fff;
    font-size: 22px;
}
